*.user

*.suo

bin

obj

_ReSharper.*
/source/NDistribUnit.Server/dashboard/scripts/jquery-jquery-tmpl/demos
/source/_dependencies/diagone-icons-by-yusuke-kamiyamane
/source/builds
/source/_dependencies/mono.cecil
/source/_dependencies/NUnit-2.5.10.11092
