*.user

*.suo

bin

obj

_ReSharper.*
/code/NDistribUnit.Server/dashboard/scripts/jquery-jquery-tmpl/demos
/code/_dependencies/diagone-icons-by-yusuke-kamiyamane
/code/builds
/code/_dependencies/mono.cecil
/code/_dependencies/NUnit-2.5.10.11092
/test