<?xml version="1.0" encoding="utf-8" ?>
<!--NDistribUnit.Variable {Name:"Id", Type: "Sequence", TypeArguments: {Start: 5, Step: 4}}-->
<configuration>
  <appSettings>
    <!--NDistribUnit.Replace {XPath:"../add[@key='sample']/@value", Value:"replaced${Id}"}-->
    <add key="sample" value="initial"/>
    
    <!--NDistribUnit.Replace {XPath:"../add[@key='buyer']/@value", Value:"AutoBuyer${Id}"}-->
    <add key="buyer" value="AutoBuyer1"/>
  </appSettings>
</configuration>