<?xml version="1.0"?>
<configuration>
  
  <!-- sections definitions -->
  
  <configSections>
    <section name="discoveryConnectionTracker" type="NDistribUnit.Common.Server.AgentsTracking.AgentsProviders.Discovery.DiscoveryConnectionTrackerOptions, NDistribUnit.Common"/>
    <section name="predefinedAgents" type="NDistribUnit.Common.Server.AgentsTracking.AgentsProviders.PredefinedConfiguration.PredefinedAgentsConfigurationSection, NDistribUnit.Common"/>
    <section name="settings" type="NDistribUnit.Common.Server.ServerConfiguration, NDistribUnit.Common"/>
  </configSections>
  <appSettings>
	<add key="x" value="1"/>
	<add key="y" value="2"/>
</appSettings>
  <!-- Settings -->
  <settings
    dashboardPort="8008"
    testRunnerPort="8009"
    scope="http://ndistribunit.com/sample-ui-tests"
    pingIntervalInMiliseconds="5000"
    >
    <logSettings 
      rollingLogItemsCount="1001"/>
    <connectionTrackers>
<!--      <add name="discovery" -->
<!--           type="NDistribUnit.Common.Server.AgentsTracking.AgentsProviders.Discovery.DiscoveryAgentsProvider"-->
<!--           sectionName="discoveryConnectionTracker"/>-->
      <add name="announcement" type="NDistribUnit.Common.Server.AgentsTracking.AgentsProviders.Announcement.AnnouncementAgentsProvider"/>
      <add name="predefined"   type="NDistribUnit.Common.Server.AgentsTracking.AgentsProviders.PredefinedConfiguration.PredefinedAgentsProvider"
           sectionName="predefinedAgents"/>
    </connectionTrackers>
  </settings>

  <discoveryConnectionTracker discoveryIntervalInMilliseconds="20000"/>
  <predefinedAgents recheckInterval="0:0:20"></predefinedAgents>
  
  <!-- System settings, which should not be changed in most cases -->
  <!--<system.diagnostics>
      <sources>
          <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
              propagateActivity="true">
              <listeners>
                  <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                      <filter type="" />
                  </add>
                  <add initializeData="d:\temp\WCF\NDistribUnit.Server.svclog"
                      type="System.Diagnostics.XmlWriterTraceListener" name="traceListener"
                      traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
                      <filter type="" />
                  </add>
              </listeners>
          </source>
      </sources>
      <trace autoflush="true" />
  </system.diagnostics>-->
  <system.web>
    <compilation debug="true"/>
  </system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="NDistribUnit.Default.Behavior">
					<serviceDebug includeExceptionDetailInFaults="True"/>
          
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<!-- Let the binding to receive messages of size up to 2GB -->
				<!-- which will be sent not longer, than 1 hour  -->
				<binding  name="NDistribUnit.Default"
						maxReceivedMessageSize="2147483647"
						maxBufferSize="2147483647"
						maxBufferPoolSize="2147483647"
						receiveTimeout="10:00:00"
						sendTimeout="10:00:00"
						openTimeout="10:00:00">
					<readerQuotas
						maxArrayLength="2147483647"
						maxBytesPerRead="2147483647"
						maxStringContentLength="2147483647"
						maxNameTableCharCount="2147483647"
						/>
          <security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <diagnostics performanceCounters="Default">
          <endToEndTracing activityTracing="true" messageFlowTracing="true" propagateActivity="true"/>
        </diagnostics>
    </system.serviceModel>
</configuration>
