body
{
    margin: 0px;
    padding: 0px;
    font-family: arial, sans serif;
    font-size: 13px;
}

#menu-pane
{
    width: 100%;
    height: 30px;
    background-image: url('../images/settings_bg.gif');
    background-repeat: repeat-x;
    background-position: bottom;
    padding-right: 10px;
    overflow: hidden;
}

#logo
{
    margin-left: 10px;
}

a
{   
    text-decoration: none;
    padding-bottom: 0px;
    color: #6866FF;
    border-bottom: dashed 1px #A8B6FF;
}

a:hover
{
    background-color: #efeffe;
}
IMG
{   
    border: 0px;
}

.menuCommandRight
{
    float: right;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 1px;
}

.menuCommandRight IMG
{
    vertical-align: text-top;
}


.ui-layout-resizer
{
    background: url(../images/resizer_bg.png);
}
.ui-layout-toggler
{
    background: url(../images/toggler_bg.png);
}

UL, LI
{
    background-color: transparent;
    list-style-type: none;
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

UL.list-menu LI
{
    margin-top: 5px;
    }

.left-menu-pane
{
    background: white url(../images/tests_bg.png) repeat-y;
    overflow: auto;
    padding: 7px;
}

.right-content-pane
{
    padding: 7px;
}

#tests-tree-pane li span
{
    height: 24px;
    padding-left: 20px;
    background: url(../images/nunit_icons/project.png) no-repeat 1px 0px;
}

#tests-tree-pane li li span
{
    background: url(../images/nunit_icons/project-run.png) no-repeat 0px 0px;
}

#tests-tree-pane li li li span
{
    background: url(../images/nunit_icons/Gray.jpg) no-repeat 2px 0px;
}

#tests-tree-pane li li li span.failed
{
    background: url(../images/nunit_icons/Failure.jpg) no-repeat 2px 0px;
}

#tests-tree-pane li li li span.ignored
{
    background: url(../images/nunit_icons/Ignored.jpg) no-repeat 2px 0px;
}

#tests-tree-pane li li li span.success
{
    background: url(../images/nunit_icons/Success.jpg) no-repeat 2px 0px;
}

#tests-tree-pane li li li span.running
{
    background: url(../images/nunit_icons/test_running.gif) no-repeat 2px 0px;
}

.treeview UL
{
    background-color: Transparent;
}

.content
{
    width: 100%;
    height: 100%;
}

#content-pane{
}

#tests-pane{
    background: url(../images/content_bg.gif);
    position: absolute;
}

#status-pane{
    background: url(../images/content_bg.gif);
    position: absolute;
}

#settings-pane{
    background: url(../images/content_bg.gif);
    position: absolute;
}

#server-status-menu
{
    padding-left: 20px;
    background: url(../images/server.png) no-repeat;
    }
    
#clients-statuses-menu
{
    padding-left: 20px;
    background: url(../images/agent.png) no-repeat;
}

.agent
{
    padding-left: 20px;
    padding-top:2px;
    padding-bottom:2px;
    background-repeat: no-repeat;
    background-position: left 3px;
    }
    
.agent.Connected
{
    background-image: url("../images/icons/Point Green.png");
    
    }    
    
.agent.Disconnected
{
    background-image: url("../images/icons/Point Gray.png");
    }    
    
.agent.Busy
{
    background-image: url("../images/icons/Point Blue.png");
    }

.agent.Unknown
{
    background-image: url("../images/icons/Point Gray Question.png");
}

.agent-name
{
    font-weight: bold;
}

.agent-timestamp
{
    font-size: 10px;
    color: #999999;
}

.agent-time
{
    font-weight: bold;
}

.agent-legend
{
    margin-bottom: 20px;
    padding-left: 20px;
}
.agent-legend SPAN
{
    margin-left: 10px;
}

.error
{
    background-color: #f47070;
    color: #ffffff;
    padding: 3px;
    border-radius: 3px;
    margin-bottom: 8px;
}
