<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="MicrosoftWebControls" type="System.Configuration.NameValueSectionHandler, System, Version=1.1.4322.573, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="appConfigurators" type="TRR.O2I.Common.Core.Configuration, TRR.O2I.Common.Core"/>
		<section name="LocalizationHandlers" type="System.Configuration.DictionarySectionHandler, System, Version=1.1.4322.573, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="BasketConfig" type="TRR.O2I.BusinessLogic.Managers.BasketManagement.BasketConfiguration, TRR.O2I.BusinessLogic.Managers"/>
		<section name="SchemasConfig" type="TRR.O2I.Common.Core.SchemasConfiguration, TRR.O2I.Common.Core"/>
		<section name="CompaniesConfiguration" type="CommonTests.CompaniesConfiguration, CommonTests"/>
		<section name="CacheConfig" type="TRR.O2I.Common.Core.CacheConfiguration, TRR.O2I.Common.Core"/>

		<section name="dalFactory" type="Cch.Commerster.Core.DalFactorySection, Cch.Commerster.Core"/>

		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>

	<dalFactory configSource="DalFactory.config" />

	<connectionStrings>
    <!-- UT -->
    <!--
		<add name="O2I" connectionString="server=tcp:epmsd122;database=O2I;uid=o2iuser;pwd=111;Max Pool Size=200;Connect Timeout=90;" providerName="System.Data.SqlClient" />
		<add name="SmallApps" connectionString="user id=o2iuser; Password=111;data source=epmsd122;initial catalog=SmallApps"/>
		<add name="GMBI" connectionString="server=epmsd122;database=GMBI;uid=stguser;pwd=stguser;Connect Timeout=120;" />
		<add name="MDS" connectionString="user id=stguser; Password=stguser;data source=epmsd122;initial catalog=PDS"/>
		<add name="TRX" connectionString="server=devcch.epam.com;database=WMGIP;uid=stguser;pwd=stguser;Connect Timeout=120"/>
    -->
    <!-- LOCAL -->
    
    <add name="O2I" connectionString="server=.;database=O2I;uid=o2iuser;pwd=111;Max Pool Size=200;Connect Timeout=90;" providerName="System.Data.SqlClient" />
    <add name="SmallApps" connectionString="user id=o2iuser; Password=111;data source=epmsd122;initial catalog=SmallApps"/>
    <add name="GMBI" connectionString="server=epmsd122;database=GMBI;uid=stguser;pwd=stguser;Connect Timeout=120;" />
    <add name="MDS" connectionString="user id=stguser; Password=stguser;data source=.;initial catalog=PDS"/>
    <add name="TRX" connectionString="server=devcch.epam.com;database=WMGIP;uid=stguser;pwd=stguser;Connect Timeout=120"/>
        
	</connectionStrings>

	<NUnit>
		<TestRunner>
			<!-- Valid values are STA,MTA. Others ignored. -->
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>

	<appConfigurators>
		<configurator name="Context" className="TRR.O2I.Presentation.Core.WebConfiguratorImpl, TRR.O2I.Presentation.Core"/>
		<configurator name="Database" className="TRR.O2I.DataAccess.Core.DBConfiguratorImpl, TRR.O2I.DataAccess.Core"/>
	</appConfigurators>

	<SchemasConfig>
		<path value="D:\O2I_Schema"/>
		<schema documentType="2" schemaFilename="xCBL3\xCBL30_TRIO20_OrderResponse.xsd" schemaNamespace="publicid:org.xCBL:schemas/XCBL30/OrderResponse.xsd"/>
		<schema documentType="3" schemaFilename="xCBL3\xCBL30_TRIO20_AdvanceShipmentNotice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v3_0/xcbl30.xsd"/>
		<schema documentType="0" schemaFilename="xCBL3\xCBL30_TRIO20_Order.xsd" schemaNamespace="publicid:org.xCBL:schemas/XCBL30/Order.xsd"/>
		<schema documentType="1" schemaFilename="xCBL3\xCBL30_TRIO20_ChangeOrder.xsd" schemaNamespace="publicid:org.xCBL:schemas/XCBL30/ChangeOrder.xsd"/>
		<schema documentType="4" schemaFilename="xCBL3\xCBL30_TRIO20_Invoice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v3_0/xcbl30.xsd"/>
		<schema documentType="9" schemaFilename="xCBL3\xCBL30_TRIO20_ChangeOrderResponse.xsd" schemaNamespace="publicid:org.xCBL:schemas/XCBL30/OrderResponse.xsd"/>
		<schema documentType="5" schemaFilename="xCBL3\xCBL35_TRIO20_GoodsReceipt.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v3_5/xcbl35.xsd"/>
		<schema documentType="15" schemaFilename="xCBL4\financial\v1_0\financial.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="18" schemaFilename="xCBL4_TRIP20\financial\v1_0\financial.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="20" schemaFilename="xCBL4_TRIP21\financial\v1_0\financial.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="22" schemaFilename="xCBL3\xCBL30_TRIO20_Invoice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v3_0/xcbl30.xsd"/>
		<schema documentType="24" schemaFilename="xCBL4\financial\v1_0\financial.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd" />
		<schema documentType="27" schemaFilename="xCBL4_TRIP23\financial\v1_0\financial.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd" />
		<schema documentType="29" schemaFilename="UIL_schemas\financial\v1_0\financial.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd" />
		<schema documentType="30" schemaFilename="xCBL4_UK\financial\v1_0\financial.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="31" schemaFilename="xCBL4_NO\financial\v1_0\financial.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="34" schemaFilename="UIL_schemas\financial\v1_0\RemittanceAdvice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd" />
		<schema documentType="36" schemaFilename="UIL_schemas\financial\v1_0\EntrySheetResponse.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd" />
		<schema documentType="37" schemaFilename="xCBL4\financial\v1_0\financial.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd" />
	</SchemasConfig>

	<CacheConfig defaultExpiration="48">
		<Categories>
			<category name="General" interval="30" />
			<category name="UserCredentials" interval="50" />
			<category name="EnumTables" interval="30" />
			<category name="ShreddingMaps" interval="30" />
			<category name="Entities" interval="30" />
			<category name="Workflows" interval="30" />
			<category name="QueryCache" interval="30" />
			<category name="Settings" absoluteInterval="15" />
		</Categories>
	</CacheConfig>

	<appSettings>
		<add key="AppPath" value="/o2i/"/>
		<add key="PageBasePath" value="pages"/>
		<add key="ViewBasePath" value="views"/>
		<add key="MapBasePath" value="\o2i\Views\"/>
		<add key="ImageBasePath" value="img/"/>
		<add key="CssBasePath" value="styles/"/>
		<add key="ContextHelpDirectory" value="contexthelp/"/>
		<add key="ContextServiceProviderClass" value="TRR.O2I.Common.Core.ContextServiceProviderIS, TRR.O2I.Common.Core"/>
		<add key="ContextServiceClass" value="TRR.O2I.Common.Core.ContextServiceObjectIS, TRR.O2I.Common.Core"/>
		<add key="IsDebugInternal" value="true"/>
		<add key="TRR.O2I.BusinessLogic.Managers.localhost.XmlSignatureValidator" value="http://epvsd085/XmlSignatureValidator/XmlSignatureValidator.asmx"/>
		<add key="SMTPServer" value="smtp.minsk.epam.com"/>
		<add key="EmailTo" value="O2I Developers &lt;o2i-bulkmail-dev@epam.com&gt;"/>
		<add key="EmailFrom" value="O2I Error Mailer&lt;contactus@trade-ranger.com&gt;"/>
		<add key="WebService.Client.JBoss.DocTracking.Url" value="http://epmsd122/jboss_svc/DocTrackingService.asmx" />
		<add key="XmlCompression" value="ON"/>

		<add key="TRx.SimpleAgentURL" value="http://192.168.221.135:5555/soap/rpc"/>
		<add key="TR.SysAdminEmailAddress" value="o2i-bulkmail-dev@epam.com"/>
		<add key="TRx.WebSvcUserName" value="labuser"/>
		<add key="TRx.WebSvcPassword" value="changeme"/>
		<add key="GIP.ConnectionString" value="server=tcp:epmsd122;database=WMGIP;uid=stguser;pwd=stguser;Connect Timeout=120" />
		<add key="TestsDocumentResults" value="D:\Temp\SmokeTests\" />
		<add key="MultiDocumentsPath" value="D:\Temp\OrderTests\" />
		<add key="CacheManagerType" value="TRR.O2I.DataAccess.Core.CacheManagerMemImpl"/>
		<add key="ShowCustomErrorPage" value="true"/>
		<add key="IntegrationFacadeClass" value="CommonTests.TRUEIntegrationFacadeMock, CommonTests"/>
	</appSettings>
	<CompaniesConfiguration>
		<BuyerTrip01>
			<CompanyId>2491</CompanyId>
			<CompanyShortName>TRQ009</CompanyShortName>
			<Ident>888881111</Ident>
		</BuyerTrip01>
		<BuyerTrip02>
			<CompanyId>2486</CompanyId>
			<CompanyShortName>TRQ001</CompanyShortName>
			<Ident>888880010</Ident>
		</BuyerTrip02>
		<BuyerTrip18>
			<CompanyId>7366</CompanyId>
			<CompanyShortName>trq060</CompanyShortName>
			<Ident>888881031</Ident>
		</BuyerTrip18>
		<BuyerTrip22>
			<CompanyId>7367</CompanyId>
			<CompanyShortName>trq061</CompanyShortName>
			<Ident>888881041</Ident>
		</BuyerTrip22>
		<BuyerWorkflowEnforcement>
			<CompanyId>2497</CompanyId>
			<CompanyShortName>TRQ020</CompanyShortName>
			<Ident>888883111</Ident>
		</BuyerWorkflowEnforcement>
		<SupplierUS>
			<CompanyId>2975</CompanyId>
			<CompanyShortName>BO2I001</CompanyShortName>
			<Ident>888884002</Ident>
		</SupplierUS>
		<SupplierDE>
			<CompanyId>2981</CompanyId>
			<CompanyShortName>EO2I001</CompanyShortName>
			<Ident>888884003</Ident>
		</SupplierDE>
		<SupplierFR>
			<CompanyId>2980</CompanyId>
			<CompanyShortName>DO2I001</CompanyShortName>
			<Ident>888884004</Ident>
		</SupplierFR>
		<SupplierNL>
			<CompanyId>2972</CompanyId>
			<CompanyShortName>KO2I001</CompanyShortName>
			<Ident>888884011</Ident>
		</SupplierNL>
		<SupplierES>
			<CompanyId>2977</CompanyId>
			<CompanyShortName>CO2I001</CompanyShortName>
			<Ident>888884003</Ident>
		</SupplierES>
		<SupplierNO>
			<CompanyId>2976</CompanyId>
			<CompanyShortName>HO2I001</CompanyShortName>
			<Ident>888884008</Ident>
		</SupplierNO>
		<SupplierUK>
			<CompanyId>2978</CompanyId>
			<CompanyShortName>IO2I001</CompanyShortName>
			<Ident>888884009</Ident>
		</SupplierUK>
		<SupplierSW>
			<CompanyId>2973</CompanyId>
			<CompanyShortName>FO2I001</CompanyShortName>
			<Ident>888884006</Ident>
		</SupplierSW>
		<SupplierBG>
			<CompanyId>2974</CompanyId>
			<CompanyShortName>GO2I001</CompanyShortName>
			<Ident>888884007</Ident>
		</SupplierBG>
    <SupplierxCBL3Generic>
      <CompanyId>2982</CompanyId>
      <CompanyShortName>LO2I001</CompanyShortName>
      <Ident>888884012</Ident>
    </SupplierxCBL3Generic>
</CompaniesConfiguration> 
</configuration>
