<?xml version="1.0" encoding="utf-8" ?>
<dalFactory>

	<dal name="Cch.Commerster.Core.IUserDal" implementation="Cch.Commerster.Core.UserDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Core.Personalization.IPersonalizationDal" implementation="Cch.Commerster.Core.PersonalizationDal" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Core.ITranslationDal" implementation="Cch.Commerster.Core.TranslationDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Core.IContactDal" implementation="Cch.Commerster.Core.ContactDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Core.ICompanyDal" implementation="Cch.Commerster.Core.CompanyDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Core.ICompanyRelationDal" implementation="Cch.Commerster.Core.CompanyRelationDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Core.IViewDal" implementation="Cch.Commerster.Core.ViewDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Core.IIndustryDal" implementation="Cch.Commerster.Core.IndustryDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Core.IAddressInfoDal" implementation="Cch.Commerster.Core.AddressInfoDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Core.ISecurityDal" implementation="Cch.Commerster.Core.SecurityDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Core.ICurrencyDal" implementation="Cch.Commerster.Core.CurrencyDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Core.IPreferencesDal" implementation="Cch.Commerster.Core.PreferencesDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Core.ILogEntryDal" implementation="Cch.Commerster.Core.LogEntryDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Web.Menu.IMenuDal" implementation="Cch.Commerster.Web.Menu.MenuDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Ebp.IEbpAccountDal" implementation="Cch.Commerster.Ebp.EbpAccountDalImpl" assembly="Cch.Commerster.Core.Dal.Sql2005" />
	<dal name="Cch.Commerster.Alerts.IAlertDal" implementation="Cch.Commerster.Alerts.SqlAlertDal" assembly="Cch.Commerster.Alerts" />
  <dal name="Cch.Trx.ITrxDal" implementation="Cch.Trx.SqlTrxDalImpl" assembly="Cch.Connectivity" />
	<dal name="Cch.Gmbi.IGmbiDal" implementation="Cch.Gmbi.SqlGmbiDalImpl" assembly="Cch.Connectivity" />

</dalFactory>