<?xml version="1.0"?>
<!--NDistribUnit.Variable { Name:'Id', Type:"Sequence", TypeArguments:{}} -->
<configuration>
	<configSections>
		<section name="o2iTestSettings" type="System.Configuration.DictionarySectionHandler"/>
		<section name="SchemasConfig" type="TRR.O2I.Common.Core.SchemasConfiguration, TRR.O2I.Common.Core"/>
		<section name="CompaniesConfiguration" type="CommonTests.CompaniesConfiguration, CommonTests"/>
		<section name="CacheConfig" type="TRR.O2I.Common.Core.CacheConfiguration, TRR.O2I.Common.Core"/>
		<section name="dalFactory" type="Cch.Commerster.Core.DalFactorySection, Cch.Commerster.Core"/>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CommonTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CommonTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<dalFactory configSource="DalFactory.config"/>
	<connectionStrings>
		<clear/>
		<add name="MDS" connectionString="server=192.168.220.170;database=PDS;uid=EPAM;pwd=init1234"/>
		<add name="SmallApps" connectionString="server=192.168.220.170;database=SmallApps;uid=EPAM;pwd=init1234"/>
		<add name="GMBI" connectionString="server=192.168.220.170,1434;database=GMBI;uid=EPAM;pwd=init1234"/>
		<add name="O2I" connectionString="server=192.168.220.170;database=O2I;uid=EPAM;pwd=init1234"/>
	</connectionStrings>
	<NUnit>
		<TestRunner>
			<!-- Valid values are STA,MTA. Others ignored. -->
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
	<SchemasConfig>
		<path value="D:\O2I_Schemas"/>
		<schema documentType="2" schemaFilename="xCBL3\xCBL30_TRIO20_OrderResponse.xsd" schemaNamespace="publicid:org.xCBL:schemas/XCBL30/OrderResponse.xsd"/>
		<schema documentType="3" schemaFilename="xCBL3\xCBL30_TRIO20_AdvanceShipmentNotice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v3_0/xcbl30.xsd"/>
		<schema documentType="0" schemaFilename="xCBL3\xCBL30_TRIO20_Order.xsd" schemaNamespace="publicid:org.xCBL:schemas/XCBL30/Order.xsd"/>
		<schema documentType="1" schemaFilename="xCBL3\xCBL30_TRIO20_ChangeOrder.xsd" schemaNamespace="publicid:org.xCBL:schemas/XCBL30/ChangeOrder.xsd"/>
		<schema documentType="4" schemaFilename="xCBL3\xCBL30_TRIO20_Invoice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v3_0/xcbl30.xsd"/>
		<schema documentType="9" schemaFilename="xCBL3\xCBL30_TRIO20_ChangeOrderResponse.xsd" schemaNamespace="publicid:org.xCBL:schemas/XCBL30/OrderResponse.xsd"/>
		<schema documentType="5" schemaFilename="xCBL3\xCBL35_TRIO20_GoodsReceipt.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v3_5/xcbl35.xsd"/>
		<schema documentType="15" schemaFilename="UIL_schemas\financial\v1_0\Invoice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="18" schemaFilename="UIL-country\FR-eIR\org\xcbl\path_delim\schemas\xcbl\v4_0\financial\v1_0\Invoice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="20" schemaFilename="UIL-country\DE-eIR\org\xcbl\path_delim\schemas\xcbl\v4_0\financial\v1_0\Invoice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="22" schemaFilename="xCBL3\xCBL30_TRIO20_Invoice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v3_0/xcbl30.xsd"/>
		<schema documentType="24" schemaFilename="UIL_schemas\financial\v1_0\Invoice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="27" schemaFilename="UIL-country\NL-eIR\org\xcbl\path_delim\schemas\xcbl\v4_0\financial\v1_0\Invoice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="29" schemaFilename="UIL_schemas\financial\v1_0\financial.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="30" schemaFilename="UIL-country\UK-eIR\org\xcbl\path_delim\schemas\xcbl\v4_0\financial\v1_0\Invoice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="31" schemaFilename="UIL-country\NO-eIR\org\xcbl\path_delim\schemas\xcbl\v4_0\financial\v1_0\Invoice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="34" schemaFilename="UIL_schemas\financial\v1_0\RemittanceAdvice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="36" schemaFilename="UIL_schemas\financial\v1_0\EntrySheetResponse.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="37" schemaFilename="xCBL4\financial\v1_0\financial.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
		<schema documentType="41" schemaFilename="UIL-country\IT-eIR\org\xcbl\path_delim\schemas\xcbl\v4_0\financial\v1_0\Invoice.xsd" schemaNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd"/>
	</SchemasConfig>
	<CacheConfig defaultExpiration="48">
		<Categories>
			<category name="General" interval="30"/>
			<category name="UserCredentials" interval="50"/>
			<category name="EnumTables" interval="30"/>
			<category name="ShreddingMaps" interval="30"/>
			<category name="Entities" interval="30"/>
			<category name="Workflows" interval="30"/>
			<category name="QueryCache" interval="30"/>
			<category name="Settings" absoluteInterval="15"/>
		</Categories>
	</CacheConfig>
	<appSettings>
		<add key="ContextHelpDirectory" value="contexthelp/"/>
		<add key="ContextServiceProviderClass" value="TRR.O2I.Common.Core.ContextServiceProviderIS, TRR.O2I.Common.Core"/>
		<add key="ContextServiceClass" value="TRR.O2I.Common.Core.ContextServiceObjectIS, TRR.O2I.Common.Core"/>
		<add key="TRR.O2I.BusinessLogic.Managers.localhost.XmlSignatureValidator" value="http://epvsd085/XmlSignatureValidator/XmlSignatureValidator.asmx"/>
		<add key="SMTPServer" value="smtp.minsk.epam.com"/>
		<add key="EmailTo" value="O2I Developers &lt;o2i-bulkmail-dev@epam.com&gt;"/>
		<add key="EmailFrom" value="O2I Error Mailer&lt;contactus@trade-ranger.com&gt;"/>
		<add key="WebService.Client.JBoss.DocTracking.Url" value="http://192.168.220.185:8080/track/track"/>
		<add key="XmlCompression" value="ON"/>
		<add key="UseRealShredder" value="true"/>
		<add key="TRx.SimpleAgentURL" value="http://192.168.221.135:5555/soap/rpc"/>
		<add key="TR.SysAdminEmailAddress" value="o2i-bulkmail-dev@epam.com"/>
		<add key="TRx.WebSvcUserName" value="labuser"/>
		<add key="TRx.WebSvcPassword" value="changeme"/>
		<add key="GIP.ConnectionString" value="server=epmsd122\UIT02;database=WMGIP;uid=stguser;pwd=stguser;Connect Timeout=120"/>
		<add key="CacheManagerType" value="TRR.O2I.DataAccess.Core.CacheManagerMemImpl"/>
		<add key="ShowCustomErrorPage" value="true"/>
		<add key="SubItemsPerInvoiceLineLimit" value="100"/>
		<add key="ScreenshotSavePath" value="D:\FailureScreens\" />
    <add key="TakeFailedTestsSnapshots" value="false" />
	</appSettings>
	<o2iTestSettings>
		<add key="CustomDocumentsPath" value="D:\Temp\CustomScenariosTests\"/>
		<add key="TestsDocumentResults" value="D:\Temp\SmokeTests\"/>
		<add key="MultiDocumentsPath" value="D:\Temp\OrderTests\"/>
		<add key="SetupTestEnvironment" value="true"/>
		<add key="ForceIeProcessKill" value="true"/>
		<add key="UseDirectDownloading" value="true"/>
		<add key="UseConfigurationService" value="true"/>
		<!--add key="ConfigurationServiceUrl" value="http://192.168.221.183:8888/o2i/WebServices/O2IConfigurationService.svc"/-->
		<add key="ConfigurationServiceUrl" value="http://192.168.221.184/main/o2i/WebServices/O2IConfigurationService.svc"/>
		<add key="AppPath" value="/o2i/"/>

<!--NDistribUnit.Replace {XPath:"../add[@key='UserLogin']/@value", Value: "autoo2iuser${Id}@epam.com"}-->
		<add key="UserLogin" value="autotest@epam.com"/>
		<add key="UserPassword" value="password1"/>
		<add key="Language" value="English"/>
		<add key="ControlsTreePrefixFormatM" value="_ctl$1"/>
		<add key="UseWebDev" value="False"/>
		<add key="MultiDocumentsPath" value="D:\Temp\OrderTests\"/>
		<add key="ControlsTreePrefixFormat" value="ctl0$1"/>
		<add key="UniqueIdSepartor" value="$"/>
		<add key="HomeDirectory" value="http://192.168.221.184/main"/>

<!--NDistribUnit.Replace {XPath:"../add[@key='UserEmail']/@value", Value: "autoo2iuser${Id}@epam.com"}-->
		<add key="UserEmail" value="autotest@epam.com"/>
		<add key="AdminLogin" value="faketr"/>
		<add key="AdminPassword" value="password1"/>
		<add key="CustomDocumentsPath" value="D:\Temp\CustomScenariosTests\"/>
		<add key="TimeoutForAsyncOperations" value="1000"/>
		<add key="Certificate" value="O2I e-Invoicing Test Certificate"/>
	</o2iTestSettings>
	<CompaniesConfiguration>
		<HubwooCompanyName>Hubwoo</HubwooCompanyName>
		<HubwooCompanyShortName>TR</HubwooCompanyShortName>
		<Buyer>
			<!--NDistribUnit.Replace {XPath:"../Ident", Value: "ao2ibuyer${Id}"}-->
   			<Ident>AutoO2IBuyer</Ident>
		</Buyer>
		<BuyerMate>
			<!--NDistribUnit.Replace {XPath:"../Ident", Value: "ao2ibuyermate${Id}"}-->
   			<Ident>888887705</Ident>
		</BuyerMate>
		<Supplier>
			<!--NDistribUnit.Replace {XPath:"../Ident", Value: "ao2isupplier${Id}"}-->
   			<Ident>AutoO2ISupplier</Ident>
		</Supplier>
		<SupplierMate>
			<!--NDistribUnit.Replace {XPath:"../Ident", Value: "ao2isuppliermate${Id}"}-->
   			<Ident>888889905</Ident>
		</SupplierMate>
	</CompaniesConfiguration>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="clientCertHubBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
					<textMessageEncoding messageVersion="Soap11" writeEncoding="utf-8">
						<readerQuotas maxStringContentLength="2147483647"/>
					</textMessageEncoding>
					<httpsTransport maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Negotiate" requireClientCertificate="true" transferMode="StreamedResponse"/>
				</binding>
			</customBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IO2IConfigurationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
					</security>
				</binding>
			</wsHttpBinding>
			<basicHttpBinding>
				<binding name="basicHttpBinding_WithoutAuthorization" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://192.168.221.184/main/o2i/WebServices/O2IConfigurationService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_WithoutAuthorization" contract="O2IConfigService.IO2IConfigurationService" name="WSHttpBinding_IO2IConfigurationService">
				<identity>
					<dns value="192.168.221.184"/>
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>
