<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="MicrosoftWebControls" type="System.Configuration.NameValueSectionHandler, System, Version=1.1.4322.573, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="appConfigurators" type="TRR.O2I.Common.Core.Configuration, TRR.O2I.Common.Core"/>
		<section name="LocalizationHandlers" type="System.Configuration.DictionarySectionHandler, System, Version=1.1.4322.573, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="BasketConfig" type="TRR.O2I.BusinessLogic.Managers.BasketManagement.BasketConfiguration, TRR.O2I.BusinessLogic.Managers"/>
		<section name="SchemasConfig" type="TRR.O2I.Common.Core.SchemasConfiguration, TRR.O2I.Common.Core"/>
		<section name="CompaniesConfiguration" type="CommonTests.CompaniesConfiguration, CommonTests"/>

		<section name="dalFactory" type="Cch.Commerster.Core.DalFactorySection, Cch.Commerster.Core"/>

		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>

		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CommonTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="CommonTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="CacheConfig" type="TRR.O2I.Common.Core.CacheConfiguration, TRR.O2I.Common.Core"/>

	</configSections>

	<dalFactory configSource="DalFactory.config" />

	<connectionStrings>
		<clear/>
		<add name="MDS" connectionString="server=epmsd122\tst;database=PDS;uid=stguser;pwd=stguser;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="O2I" connectionString="user id=o2iuser; Password=111;data source=epmsd122\tst; initial catalog=O2I;application name=O2I_web_smoke_test"/>
	</connectionStrings>

	<NUnit>
		<TestRunner>
			<!-- Valid values are STA,MTA. Others ignored. -->
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>

	<appConfigurators>
		<configurator name="Context" className="TRR.O2I.Presentation.Core.WebConfiguratorImpl, TRR.O2I.Presentation.Core"/>
		<configurator name="Database" className="TRR.O2I.DataAccess.Core.DBConfiguratorImpl, TRR.O2I.DataAccess.Core"/>
	</appConfigurators>

		
	<CacheConfig defaultExpiration="48">
   	 <Categories>
     		 <category name="General" interval="30" />
    		 <category name="UserCredentials" interval="50" />
    	 	 <category name="EnumTables" interval="30" />
      		 <category name="ShreddingMaps" interval="30" />
     		 <category name="Entities" interval="30" />
    		 <category name="Workflows" interval="30" />
      		 <category name="QueryCache" interval="30" />
     		 <category name="Settings" absoluteInterval="15" />
   	 </Categories>
 	 </CacheConfig>


	<appSettings>
		<add key="AppPath" value="/o2i/"/>
		<add key="PageBasePath" value="pages"/>
		<add key="ViewBasePath" value="views"/>
		<add key="MapBasePath" value="\o2i\Views\"/>
		<add key="ImageBasePath" value="img/"/>
		<add key="CssBasePath" value="styles/"/>
		<add key="ContextHelpDirectory" value="contexthelp/"/>
		<add key="ContextServiceProviderClass" value="TRR.O2I.Common.Core.ContextServiceProviderIS, TRR.O2I.Common.Core"/>
		<add key="ContextServiceClass" value="TRR.O2I.Common.Core.ContextServiceObjectIS, TRR.O2I.Common.Core"/>

		<add key="UseRealShredder" value="true"/>
		<add key="SetupTestEnvironment" value="true"/>
		<add key="UseConfigurationService" value="true"/>
		<add key="ConfigurationServiceUrl" value="http://tstcch.epam.com/main/o2i/WebServices/O2IConfigurationService.svc"/>
		<add key="TestsDocumentResults" value="c:\trr-odc\SmokeTests\" />
		<add key="SubItemsPerInvoiceLineLimit" value="100"/>
	</appSettings>

	<applicationSettings>
		<CommonTests.Properties.Settings>
			<setting name="Language" serializeAs="String">
				<value>English</value>
			</setting>
			<setting name="UserLogin" serializeAs="String">
				<value>autotest@epam.com</value>
			</setting>
			<setting name="UserPassword" serializeAs="String">
				<value>password1</value>
			</setting>
			<setting name="HomeDirectory" serializeAs="String">
				<value>http://tstcch.epam.com/main</value>
			</setting>
			<setting name="UseWebDev" serializeAs="String">
				<value>False</value>
			</setting>
			<!--<setting name="ControlsTreePrefixFormat" serializeAs="String">
				<value>_ctl$1</value>
			</setting>
			<setting name="ControlsTreePrefixFormatM" serializeAs="String">
				<value>_ctl$1</value>
			</setting>
			<setting name="UniqueIdSepartor" serializeAs="String">
				<value>:</value>
			</setting> -->

			<setting name="ControlsTreePrefixFormat" serializeAs="String">
				<value>ctl0$1</value>
			</setting>
			<setting name="ControlsTreePrefixFormatM" serializeAs="String">
				<value>_ctl$1</value>
			</setting>
			<setting name="UniqueIdSepartor" serializeAs="String">
				<value>$</value>
			</setting>
			<setting name="UserEmail" serializeAs="String">
   				<value>autotest@epam.com</value>
   			</setting>
   			<setting name="AdminLogin" serializeAs="String">
    				<value>d</value>
   			</setting>
   			<setting name="AdminPassword" serializeAs="String">
    				<value>password1</value>
   			</setting>
			<setting name="CustomDocumentsPath" serializeAs="String">
				<value>D:\Temp\CustomScenariosTests\</value>
			</setting>
			<setting name="TimeoutForAsyncOperations" serializeAs="String">
				<value>200</value>
			</setting>
		</CommonTests.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<CommonTests.Properties.Settings>
			<setting name="Certificate" serializeAs="String">
				<value>O2I e-Invoicing Test Certificate</value>
			</setting>
		</CommonTests.Properties.Settings>
	</userSettings>
	<CompaniesConfiguration>
		<HubwooCompanyName>Hubwoo</HubwooCompanyName>
		<HubwooCompanyShortName>TR</HubwooCompanyShortName>
		<Buyer>
			<Ident>888881111</Ident>
		</Buyer>
		<BuyerMate>
			<Ident>888880010</Ident>
		</BuyerMate>
		<Supplier>
			<Ident>888884002</Ident>
		</Supplier>
		<SupplierMate>
			<Ident>888884003</Ident>
		</SupplierMate>
	</CompaniesConfiguration>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IO2IConfigurationService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
				 textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
					 enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
						 algorithmSuite="Default" establishSecurityContext="true" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://epbyminw0262.minsk.epam.com/comm/o2i/WebServices/O2IConfigurationService.svc"
			 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IO2IConfigurationService"
			 contract="O2IConfigService.IO2IConfigurationService" name="WSHttpBinding_IO2IConfigurationService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>
