<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
                     
  <settings 
    announcementIntervalInMilliseconds="15000" 
    scope="http://epam.com/trr-odc/ui-tests">
    <logSettings rollingLogItemsCount="1001"/>
  </settings>
                     
  <configSections>
    <section name="settings" type="NDistribUnit.Common.Agent.AgentConfiguration,NDistribUnit.Common"/>
  </configSections>
                     
  <system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="NDistribUnit.Default.Behavior">
					<serviceDebug includeExceptionDetailInFaults="True"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<!-- Let the binding to receive messages of size up to 2GB -->
				<!-- which will be sent not longer, than 1 hour  -->
				<binding  name="NDistribUnit.Default"
						maxReceivedMessageSize="2147483647" 
						maxBufferSize="2147483647"
						maxBufferPoolSize="2147483647"
						receiveTimeout="10:00:00"
						sendTimeout="10:00:00"
						openTimeout="10:00:00">
					<readerQuotas 
						maxArrayLength="2147483647" 
						maxBytesPerRead="2147483647"
						maxStringContentLength="2147483647"
						maxNameTableCharCount="2147483647"
						/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>

</configuration>
