<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
      <bindings>
        <wsDualHttpBinding>
          <binding name="WSDualHttpBinding_ITestRunner" closeTimeout="00:00:05" openTimeout="00:00:05" receiveTimeout="00:00:01" sendTimeout="00:00:05" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
            <reliableSession ordered="true" inactivityTimeout="00:10:00"/>
            <security mode="Message">
              <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
            </security>
          </binding>
        </wsDualHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:8612/http" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITestRunner" contract="NDistribUnit.Common.ITestRunner" name="http">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="net.tcp://localhost:8613/tcp" binding="netTcpBinding" contract="NDistribUnit.Common.ITestRunner" name="tcp"/>
      </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
