<?xml version="1.0"?>
<configuration>
  <settings>
    <logSettings rollingLogItemsCount="9000"/>
  </settings>
	<!--
  <predefinedAgents>
    <add url="net.tcp://evbyminsd0575:8081/"/>
    <add url="net.tcp://evbyminsd0579:8081/"/>
    <add url="net.tcp://evbyminsd0588:8081/"/>
  </predefinedAgents>
-->
</configuration>
