<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="settings" type="NDistribUnit.Common.Agent.AgentConfiguration,NDistribUnit.Common"/>
  </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <settings 
    port="8081"
    announcementInterval="00:00:15.00" 
    scope="http://ndistribunit.com/sample-ui-tests">
    <logSettings rollingLogItemsCount="1001"/>
  </settings>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
          propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="d:\temp\WCF\NDistribUnit.Agent.svclog"
              type="System.Diagnostics.XmlWriterTraceListener" name="traceListener"
              traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
    <switches>
      <add name="NTrace" value="Verbose"/>
    </switches>
  </system.diagnostics>
                     
  <system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceDebug includeExceptionDetailInFaults="True"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<!-- Let the binding to receive messages of size up to 2GB -->
				<!-- which will be sent not longer, than 1 hour  -->
        <!-- Max buffer size: 1048576 = 1MB -->
        <!-- Max buffer pool size: 10485760 = 10MB -->
				<binding  name="NDistribUnit.Default"
						maxReceivedMessageSize="2147483647" 
						maxBufferSize="1048576"
						maxBufferPoolSize="10485760"
						receiveTimeout="10:00:00"
						sendTimeout="10:00:00"
          openTimeout="10:00:00"
          transferMode="Streamed">
					<readerQuotas 
						maxArrayLength="2147483647" 
						maxBytesPerRead="2147483647"
						maxStringContentLength="2147483647"
						maxNameTableCharCount="2147483647"
						/>
          <security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>

</configuration>
